<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>by.kolesnik.program_1.homework1.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TimeServlet</servlet-name>
    <servlet-class>by.kolesnik.program_1.homework1.task1.TimeServlet</servlet-class>
    <!--jsp-file>/jsp/time.jsp</jsp-file-->
  </servlet>
  <servlet>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>by.kolesnik.program_1.homework1.task2.NameServlet</servlet-class>
    <init-param>
      <param-name>firstName</param-name>
      <param-value>Mariya</param-value>
    </init-param>
    <init-param>
      <param-name>secondName</param-name>
      <param-value>Alexandr</param-value>
    </init-param>
    <init-param>
      <param-name>thirdName</param-name>
      <param-value>Ivan</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>htmlLoginServlet</servlet-name>
    <servlet-class>by.kolesnik.program_1.homework2.HtmlLoginServlet</servlet-class>
    <init-param>
      <param-name>firstLogin</param-name>
      <param-value>User1</param-value>
    </init-param>
    <init-param>
      <param-name>firstPassword</param-name>
      <param-value>12345</param-value>
    </init-param>
    <init-param>
      <param-name>secondLogin</param-name>
      <param-value>User2</param-value>
    </init-param>
    <init-param>
      <param-name>secondPassword</param-name>
      <param-value>6789</param-value>
    </init-param>
  </servlet>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>by.kolesnik.program_1.homework2.filters.LoginFilter</filter-class>
  </filter>

  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TimeServlet</servlet-name>
    <url-pattern>/time</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/names</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>htmlLoginServlet</servlet-name>
    <url-pattern>/validation</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/time</url-pattern>
  </filter-mapping>

</web-app>
